<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
	<name>login</name>
	<servlet-name>com.bjsxt.server.demo4.LoginServlet</servlet-name>
</servlet>
<servlet-mapping>
<name>login</name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet-mapping>
<name>login</name>
<url-pattern>/log</url-pattern>
</servlet-mapping>

<servlet>
    <name>reg</name>
	<servlet-name>com.bjsxt.server.demo4.RegisterServlet</servlet-name>
</servlet>

<servlet-mapping>
<name>reg</name>
<url-pattern>/register</url-pattern>
</servlet-mapping>
</web-app>


